@model TournamentStatisticsViewModel

@{
    ViewData["Title"] = "Statistika týmu";
}

<div class="text-center mb-5">
    <h1 class="display-4 mb-1">Bilance týmu</h1>
    <p>
        <h3 class="fw-bold text-secondary">Statistika týmu: @Model.Name</h3>
    </p>
</div>


