@{
    ViewData["Title"] = "Domů";
}

<div class="text-center">
    <h1 class="display-4">Aplikace pro správu ⚽ turnajů</h1>
    <br />
    <hr />
    <p>Pokud by ses chtěl hádat: <a href="https://www.nohejbal.cz/clanky/pravidla-nohejbalu/"><strong> tak si přečti pravidla ty hňupe !!</strong></a></p>
    <h4>A nebo se zeptej Honzu Maška.....</h4>
</div>
